
<script type="text/javascript" charset="utf-8">
   
</script>
<body class="easyui-layout">

    <div region="center" border="false">
        <div id="layout_portal_portal" style="position: relative">
            <div>aaaaaaaaaaaaaaa</div>
             <div></div>
        </div>
    </div>


</body>
