@{
    ViewBag.Title = "PrintSetup";
}
<script>

    $(function () {
        $('#PrintTemp').combobox({
            url: '/PrintTemplate/ListALL',
            valueField: 0,
            textField: 1,
            width: 300,
            panelHeight: 'auto',
            editable: false
        });

        $('#ReturnAddress').combobox({
            url: '/ReturnAddress/QList',
            valueField: 'Id',
            textField: 'Street',
            width: 300,
            panelHeight: 'auto',
            editable: false
        });

        var obj = window.opener.document.getElementById('printOrderNo').value;
        $('#txtData').val(obj);
    })


    function showPrintWindow() {
        var a = $("#PrintTemp").combobox("getValue");
        var b = $("#ReturnAddress").combobox("getValue");
        if (a == "" || b == "") {
            alert("请选择模板和回邮地址");
            return;
        }
        $.ajax({
            type: "POST",
            url: "/Home/SetPrintData",
            data: "m=" + a + "&r=" + b + "&d=" + $("#txtData").val(),
            success: function (msg) {
                if (msg.IsSuccess != "") {
                    $('#printdata').val(msg.Result);
                    window.open('/Home/PrintDetail/' + $("#PrintTemp").combobox("getValue"));
                }
            }
        });
    }
</script>
<input type="hidden" id="printdata" />
<table>
    <tr>
        <td>打印数据</td>
        <td>
            <textarea style="width: 600px; height: 300px;" id="txtData"></textarea></td>
    </tr>
    <tr>
        <td>打印模板</td>
        <td>
            <input type="text" id="PrintTemp" /></td>
    </tr>
    <tr>
        <td>回邮地址</td>
        <td>
            <input type="text" id="ReturnAddress" />
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="button" onclick="showPrintWindow()" value="打印" />
        </td>
    </tr>
</table>

