@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/ext/resources/ext-theme-neptune/ext-theme-neptune-all.css" rel="stylesheet" />
    <link href="~/Content/css/iconCss.css" rel="stylesheet" />
    <link href="~/Content/css/modIconCss.css" rel="stylesheet" />
    <link href="~/Content/css/shortcut.css" rel="stylesheet" />
    <script src="~/ext/bootstrap.js"></script>
    <script src="~/Scripts/Application/app.js"></script>
    <script src="~/Scripts/Application/Home.js"></script>
    <script type="text/javascript">
       


    </script>

</head>
<body>
    
</body>
</html>
